 @use 'base/variables' as v;
 @use 'base/mixin' as m;

 .header {
     background-color: v.$verde;

     @include m.desktop {
         &.fixed {
             position: fixed;
             inset: 0 0 auto 0;
             z-index: 3;
             box-shadow: 0.1rem 0.2rem 0.3rem #333;
         }
     }

     .contenido-header {
         padding: 2rem;

         @include m.tablet {
             display: flex;
             justify-content: space-between;
             align-items: center;
         }
     }

     h1 {
         color: v.$blanco;
         text-align: center;

         @include m.tablet {
             margin: 0;
             text-align: left;
         }
     }
 }



 .navegacion-principal {
     display: flex;
     gap: 2rem;

     flex-direction: column;
     align-items: center;

     @include m.tablet {
         flex-direction: row;
     }

     a {
         color: v.$blanco;

         font-size: 2.4rem;

         &:hover,
         &.active {
             color: v.$amarillo;

         }
     }
 }